
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Bilgi Ekle</h2>

<form method="post">
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <button class="btn btn-info">Güncellemeyi Kaydet</button>
</form>

