@model DevFolio.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>
<form method="post">
    <label>Hakkımda Id</label>
    <input type="text" class="form-control" name="AboutId" value="@Model.AboutId" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />
    <br />
    
    <button class="btn btn-warning">Hakkımda Bilgisini Güncelle</button>
</form>