<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/9td5ixd.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Default/Index">Siteye Git</a></li>
            <li><a href="/About/AboutList">Hakkımda</a></li>
            <li><a href="/Category/CategoryList">Kategori</a></li>
            <li><a href="/Services/ServiceList">Hizmetler</a></li>
            <li><a href="/Statistic/Index">İstatistikler</a></li>
            <li><a href="/Project/Index">Projeler</a></li>
            <li><a href="/Skill/SkillList">Yetenekler</a></li>
            <li><a href="/SocialMedia/SocialMediaList">Sosyal Medya</a></li>
            <li><a href="/Testimonial/TestimonialList">Referans Bilgisi</a></li>
            <!--<li><a href="/Contact/ContactList">İletişim Bilgileri</a></li>-->
            <li><a href="/Contact/ContactList">Gelen Mesajlar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="/Login/Index">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                <br/>
                Tüm Hakları Saklıdır
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
