@model DevFolio.Models.TblSkill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>


<form method="post">
    @*<label>Yetenek Id</label>*@
    <input type="hidden" class="form-control" name="SkillId" value="@Model.SkillId" />
    <br />
    <label>Yetenek Başlığı</label>
    <input type="text" class="form-control" name="SkillTitle" value="@Model.SkillTitle" />
    <br />
    <label>Yetenek Degeri</label>
    <input type="text" class="form-control" name="SkillValue" value="@Model.SkillValue" />
    <br />
    <button class="btn btn-warning">Yeteneği Güncelle</button>
</form>
