<div class="col-md-6">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="NameSurname" />

        <label>Mail Adresi</label>
        <input type="text" class="form-control" name="Email" />

        <label>Konu Başlığı</label>
        <input type="text" class="form-control" name="Subject" />

        <label>Mesaj</label>
        <textarea rows="5" class="form-control" name="Message"></textarea>
        
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>

    </form>

</div>