@model List<DevFolio.Models.TblSocialMedia>

<div class="socials">
    <ul class="social-icons">
        @foreach (var item in Model)
        {
            <li><a href="#"><span class="ico-circle"><i class="@item.IconUrl"></i></span></a></li>
        }
    </ul>
</div>


