@model List<DevFolio.Models.TblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projeler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Proje Başlığı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Github'da aç</th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.ProjectId</td>
    <td>@item.Title</td>
    <td>@item.TblCategory.CategoryName</td>
    <td><a href="/Project/DeleteProject/@item.ProjectId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-success">Güncelle</a></td>
    <td><a href="https://github.com/tubabalkan" class="btn btn-warning">Github'da aç</a></td>
</tr>}
</table>
<a href="/Project/CreateProject/" class="btn btn-info">Yeni Proje Girişi</a>